@font-face {
	font-family: 'Madet';
	src: url('/fonts/MADETommySoft-Thin.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Madet';
	src: url('/fonts/MADETommySoft-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Madet';
	src: url('/fonts/MADETommySoft-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Madet';
	src: url('/fonts/MADETommySoft-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Madet';
	src: url('/fonts/MADETommySoft-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Madet';
	src: url('/fonts/MADETommySoft-Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

:root {
	font-family: 'Noto Sans', system-ui, sans-serif;
}
